<h3>Add a project</h3>

<form class="add-project form" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <fieldset *ngIf="step === 0">
        <div class="input-wrapper">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" formControlName="title_control" />
            <div *ngIf="title_control.invalid && title_control.dirty">
                <p *ngFor="let error of getError('title_control')">{{ error }}</p>
            </div>
        </div>
        <div class="input-wrapper">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" formControlName="description_control" />
            <div *ngIf="description_control.invalid && description_control.dirty">
                <p *ngFor="let error of getError('description_control')">{{ error }}</p>
            </div>
        </div>
        <div class="input-wrapper">
            <label for="live-link">Live link</label>
            <input type="text" name="live-link" id="live-link" formControlName="live_link_control" />
            <div *ngIf="live_link_control.invalid && live_link_control.dirty">
                <p *ngFor="let error of getError('live_link_control')">{{ error }}</p>
            </div>
        </div>
    </fieldset>
    <fieldset *ngIf="step === 1">
        <h4>Technologies</h4>
        <ul class="project-tag-list list">
            <li *ngFor="let techno of technologies">{{ techno }}</li>
        </ul>
        <div class="input-wrapper">
            <select formControlName="technologie_control">
                <option *ngFor="let skill of skills" [value]="skill.name">{{ skill.name }}</option>
            </select>
            <button (click.prevent)="onTechnoAddClicked()">Add technologie</button>
            <div *ngIf="technologie_control.invalid && technologie_control.dirty">
                <p *ngFor="let error of getError('technologie_control')">{{ error }}</p>
            </div>
        </div>
    </fieldset>
    <fieldset *ngIf="step === 2">
        <h4>Technologies</h4>
        <ul class="project-links-list list">
            <li *ngFor="let link of links">{{ link.name }} : <a [href]="link.link">see link</a></li>
        </ul>
        <div class="input-wrapper">
            <label>Link name: <input type="text" name="link_name" id="link_name" formControlName="link_title_control" /></label>
            <label>Link source: <input type="url" name="link_src" id="link_src" formControlName="link_src_control" /></label>
            <button (click.prevent)="onLinkAddClicked();">Add link</button>
            <div *ngIf="link_title_control.invalid && link_title_control.dirty || link_src_control.invalid && link_src_control.dirty">
                <p *ngFor="let error of getError('link_src_control')">{{ error }}</p>
                <p *ngFor="let error of getError('link_title_control')">{{ error }}</p>
            </div>
        </div>
    </fieldset>
    <fieldset *ngIf="step === 3">
        <h4>Miniatures</h4>
        <div class="input-wrapper">
            <label for="presentation-miniature">Presentation miniature</label>
            <input type="file" name="presentation-miniature" id="presentation-miniature" (change)="onMiniatureSelected($event)" />
        </div>
        <div class="input-wrapper">
            <label for="miniature">Miniature</label>
            <input type="file" name="miniature" id="miniature" (change)="onScreenshotsChange($event)" />
        </div>
        <ul class="project-files-list list">
            <li>file1.png</li>
            <li>file2.png</li>
            <li>file3.png</li>
        </ul>
    </fieldset>
    <div>
        <button (click.prevent)="onPrevious()" *ngIf="step !== 0; else pseudoBlock" class="previous-btn">Previous</button>
        <ng-template #pseudoBlock><div></div></ng-template>
        <button *ngIf="step !== 3; else submit" (click.prevent)="onNext()" class="next-btn">Next</button>
        <ng-template #submit>
            <button class="submit-btn">Submit</button>
        </ng-template>
    </div>
</form>