<h3>Add a project</h3>

<form class="add-project form" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <fieldset *ngIf="step === 0">
        <div class="input-wrapper">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" formControlName="title_control" />
        </div>
        <div class="input-wrapper">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" formControlName="description_control" />
        </div>
        <div class="input-wrapper">
            <label for="live-link">Live link</label>
            <input type="text" name="live-link" id="live-link" formControlName="live_link_control" />
        </div>
        <div class="input-wrapper">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" formControlName="title_control" />
        </div>
    </fieldset>
    <fieldset *ngIf="step === 1">
        <h4>Technologies</h4>
        <ul class="project-tag-list list">
            <li>tag 1</li>
            <li>tag 2</li>
        </ul>
        <div class="input-wrapper">
            <input type="text" name="technologie" id="technologie" formControlName="technologie_control" />
            <button>Add technologie</button>
        </div>
    </fieldset>
    <fieldset *ngIf="step === 2">
        <h4>Technologies</h4>
        <ul class="project-links-list list">
            <li>github (front): link</li>
            <li>github (front): link</li>
            <li>github (front): link</li>
            <li>github (front): link</li>
        </ul>
        <div class="input-wrapper">
            <input type="url" name="link_src" id="link_src" formControlName="link_src_control" />
            <input type="text" name="link_name" id="link_name" formControlName="link_title_control" />
            <button>Add technologie</button>
        </div>
    </fieldset>
    <fieldset *ngIf="step === 3">
        <h4>Miniatures</h4>
        <div class="input-wrapper">
            <label for="presentation-miniature">Presentation miniature</label>
            <input type="file" name="presentation-miniature" id="presentation-miniature" (change)="onMiniatureSelected($event)" />
        </div>
        <div class="input-wrapper">
            <label for="miniature">Miniature</label>
            <input type="file" name="miniature" id="miniature" (change)="onScreenshotsChange($event)" />
        </div>
        <ul class="project-files-list list">
            <li>file1.png</li>
            <li>file2.png</li>
            <li>file3.png</li>
        </ul>
    </fieldset>
    <div>
        <button (click)="onPrevious($event)" *ngIf="step !== 0; else pseudoBlock" class="previous-btn">Previous</button>
        <ng-template #pseudoBlock><div></div></ng-template>
        <button *ngIf="step !== 3; else submit" (click)="onNext($event)" class="next-btn">Next</button>
        <ng-template #submit>
            <button class="submit-btn">Submit</button>
        </ng-template>
    </div>
</form>