<form [formGroup]="skillForm" (ngSubmit)="onSubmit()">
    <div class="input-wrapper">
        <label>Skill name: <input id="skill_name" name="skill_name" type="text" placeholder="name of the skill/language" formControlName="skill_name_control" /></label>
    </div>
    <div class="input-wrapper">
        <label>Skill name: <input id="skill_name" name="skill_name" min="1" max="10" type="number" value="1" formControlName="skill_expertise_control" /></label>
    </div>
    <div>
        <label for="skill_type">Skill type:</label>
        <select formControlName="skill_type">
            <option value="programming_languge">Programming language</option>
            <option value="frameworks">Frameworks</option>
            <option value="it_tools">IT Tools</option>
            <option value="scripting_skills">Scripting skills</option>
            <option value="other">Other</option>
        </select>
    </div>
    <button>Save skill</button>
</form>