<h2 class="text-center">Admin panel</h2>

<div [hidden]="!createFormIsVisible" class="create-project-form bg-light">
    <app-form-add-project (formSubmitted)="onProjectSubmitted($event)" [skills]="skills" />
</div>

<div [hidden]="!saveSkillFormIsVisible" class="create-project-form bg-light">
    <app-save-skill-form (formSubmitted)="onSkillSubmitted($event)" />
</div>
<div class="d-flex p-2 w-50 align-self-center">
    <section class="w-50">
        <p class="mb-0">Number of project {{ projectCount }}</p>
        <div>
            <app-action-button (click.prevent)="onCreateBtnClicked()">Create project</app-action-button>
        </div>
        <app-projects-section [projects]="projects" />
    </section>
    <section id="skills_section" class="w-50">
        <p>Number of skills {{ skillCount }}</p>
        <div>
            <app-action-button (click.prevent)="onSaveSkillBtnClicked()">Add skill</app-action-button>
        </div>
        <section>
            <div *ngFor="let skill of skills">
                <p>{{ skill.name }}</p>
                <app-action-button (click.prevent)="onDeleteSkill(skill.name)">Delete</app-action-button>
            </div>
        </section>
    </section>
</div>