<h2>Admin panel</h2>

<div [hidden]="!createFormIsVisible" class="create-project-form">
    <app-form-add-project (formSubmitted)="onProjectSubmitted($event)" [skills]="skills" />
</div>

<div [hidden]="!saveSkillFormIsVisible" class="create-project-form">
    <app-save-skill-form (formSubmitted)="onSkillSubmitted($event)" />
</div>
<section>
    <p>Number of project {{ projectCount }}</p>
    <div>
        <button (click)="onCreateBtnClicked()">Create project</button>
    </div>
    <app-projects-section [projects]="projects" />
</section>
<section id="skills_section">
    <p>Number of skills {{ skillCount }}</p>
    <div>
        <button (click)="onSaveSkillBtnClicked()">Add skill</button>
    </div>
    <section>
        <div *ngFor="let skill of skills">
            <p>{{ skill.name }}</p>
            <button (click.prevent)="onDeleteSkill(skill.name)">Delete</button>
        </div>
    </section>
</section>