:host {
    align-self: flex-start;
}

.create-project-form {
    position: fixed;
    margin-inline: auto;
    width: fit-content;
    margin-top: 150px;
    inset: 0;
}

#skills_section > section {
    display: flex;
    flex-direction: column;
}